{
  "presets": [
    ["es2015", {"modules": false}],
    "react"
  ],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": [
        "es2015",
        "power-assert",
      ]
    }
  }
}
