{
  "presets": [
    ["es2015", {"modules": false}],
    "es2016",
    "es2017",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "development": {
      "presets": [
        "es2015",
        "es2016",
        "es2017",
        "power-assert"
      ]
    }
  }
}
