{
  "extends": "eslint-config-airbnb",

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },

  "plugins": [
    "import",
    "react",
    "dependencies",
    "lodash-fp"
  ],

  "globals": {
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__DISABLE_SSR__": true,
    "__DISABLE_INLINE_CSS__": true
  },

  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },

  "rules": {
    //Possible Errors
    "no-console": "error",
    "no-unexpected-multiline": "error",

    // Best Practices
    "class-methods-use-this": "off",
    "consistent-return": ["error", {"treatUndefinedAsUnspecified": true}],
    "dot-location": ["error", "property"],
    "no-implicit-globals": "error",
    "no-invalid-this": "error",
    "no-param-reassign": ["error", {"props": false}],
    "no-unmodified-loop-condition": "error",
    "no-useless-call": "error",
    "no-void": "off",

    // Variables
    "no-catch-shadow": "error",
    "no-label-var": "error",
    "no-shadow": ["error", {"allow": ["cb", "next", "req", "res", "err", "error"]}],
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-use-before-define": ["error", "nofunc"],
    "no-unused-expressions": ["error", {"allowShortCircuit": true}],
    "no-unused-vars": ["error", {"args": "none"}],

    // Node.js
    "callback-return": "error",
    "no-path-concat": "error",

    // Stylistic Issues
    "comma-dangle": ["error", "always-multiline"],
    "linebreak-style": ["error", "unix"],
    "no-plusplus": "off",

    // ECMAScript 6
    "arrow-parens": ["error", "always"],
    "constructor-super": "error",
    "generator-star-spacing": ["error", "after"],
    "no-this-before-super": "error",
    "prefer-arrow-callback": ["error", {"allowNamedFunctions": true}],
    "prefer-spread": "error",
    "prefer-template": "off",

    // React
    "react/no-danger": "error",
    "react/no-deprecated": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-is-mounted": "error",
    "react/no-set-state": "error",
    "react/no-string-refs": "error",
    "react/prefer-stateless-function": "error",
    "react/prop-types": "off",
    "react/self-closing-comp": "off",

    // JSX
    "react/jsx-equals-spacing": "error",
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"]}],
    "react/jsx-indent": ["error", 2],
    "react/jsx-key": "error",
    "react/jsx-max-props-per-line": ["error", {"maximum": 3}],
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-tag-spacing": ["error", {"beforeSelfClosing": "always"}],
    "react/jsx-wrap-multilines": "error",

    // a11y
    "jsx-a11y/no-static-element-interactions": "off",

    // import
    "import/order": [
      "error", {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"]
      }
    ],

    // dependencies
    "dependencies/case-sensitive": "error",
    "dependencies/no-cycles": "error",
    "dependencies/no-unresolved": "off",

    // lodash-fp
    "lodash-fp/consistent-compose": ["error", "flow"],
    "lodash-fp/consistent-name": ["error", "lodash"],
    "lodash-fp/no-argumentless-calls": "error",
    "lodash-fp/no-chain": "error",
    "lodash-fp/no-extraneous-args": "error",
    "lodash-fp/no-extraneous-function-wrapping": "error",
    "lodash-fp/no-extraneous-iteratee-args": "error",
    "lodash-fp/no-for-each": "off",
    "lodash-fp/no-partial-of-curried": "error",
    "lodash-fp/no-single-composition": "error",
    "lodash-fp/no-submodule-destructuring": "error",
    "lodash-fp/no-unused-result": "error",
    "lodash-fp/prefer-compact": "error",
    "lodash-fp/prefer-composition-grouping": "error",
    "lodash-fp/prefer-constant": ["error", {"arrowFunctions": false}],
    "lodash-fp/prefer-flat-map": "error",
    "lodash-fp/prefer-get": "error",
    "lodash-fp/prefer-identity": ["error", {"arrowFunctions": false}],
    "lodash-fp/preferred-alias": "off",
    "lodash-fp/use-fp": "error",

    // coding styles
    "max-len": ["error", 100]
  }
}
