# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

base_image: &base_image
  image: circleci/node:11


build_image: &build_image
  docker:
    - <<: *base_image
  working_directory: ~/repo

save_lock: &save_lock
  save_cache:
    key: node_modules-{{ checksum "package-lock.json" }}
    paths:
      - node_modules

restore_lock: &restore_lock
  restore_cache:
    keys: 
      - node_modules-{{ checksum "package-lock.json" }}

save: &save
  save_cache:
    key: code-{{ .Revision }}
    paths:
      - .
      - ".git"
      - "~/.ssh"
      - "~/repo"

restore: &restore
  restore_cache:
    keys: 
      - code-{{ .Revision }}

jobs:
  install:
    <<: *build_image
    steps:
      - checkout
      - <<: *restore_lock
      - run: case $CIRCLE_BRANCH in greenkeeper*) npm i;; *) npm ci;; esac;
      - <<: *save_lock
      - <<: *save

  lint:
    <<: *build_image
    steps:
      - <<: *restore
      - <<: *restore_lock
      - run: npm run lint
  typecheck:
    <<: *build_image
    steps:
      - <<: *restore
      - <<: *restore_lock
      - run: npm run typecheck
  checksize:
    <<: *build_image
    steps:
      - <<: *restore
      - <<: *restore_lock
      - run: npm run checksize
  audit:
    <<: *build_image
    steps:
      - <<: *restore
      - <<: *restore_lock
      - run: npm audit
  test:
    <<: *build_image
    steps:
      - <<: *restore
      - <<: *restore_lock
      - run:
          name: start agreed server
          command: npm run test:agreed
          background: true
      - run: npm run test:coverage
  build-asset:
    <<: *build_image
    steps:
      - <<: *restore
      - <<: *restore_lock
      - run: npm run build

workflows:
  version: 2
  exec:
    jobs:
      - install
      - lint:
          requires:
            - install
      - typecheck:
          requires:
            - install
      - checksize:
          requires:
            - install
      - test:
          requires:
            - install
      - build-asset:
          requires:
            - install
  daily_audit:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - install
      - audit:
          requires:
            - install
