.root {
  text-align: center;
  padding-top: 24px;
  background-color: #be3c5f;
  color: white;
}

.serviceLogo {
  margin-bottom: 24px;
}

.corporateLogo {
}

.links {
}

.items {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.item {
  flex-grow: 1;
}

.link {
  display: block;
  padding: 12px 0;
  background-color: lightgrey;

  &:hover {
    background-color: darkgray;
  }

  &-isActive {
    background-color: grey;
  }
}
