.root {
}

.obiOuter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 200px;
}

.obiInner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.displayArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.messageArea {
  text-align: center;
}

.buttonArea {
  text-align: center;
}
